/* ---------------- Mobile Responsive Styles ---------------- */

nav .fa-solid{
    display: none;
}

@media only screen and (max-width: 600px){

    /* ---------- Header ---------- */
    #header{
        background-image: url(IMAGES/Mobile\ bg.png);
        height: 100vh;
    }

    .header-text{
        margin-top: 100%;
        font-size: 16px;
        text-align: left;
    }

    .header-text h1{
        font-size: 28px;
        line-height: 1.3;
    }

    .hero-role{
        margin-bottom: 10px;
    }

    #role-text{
        font-size: 20px;
        font-weight: 500;
    }

    /* ---------- Navigation ---------- */
    nav .fa-solid{
        display: block;
        font-size: 25px;
        cursor: pointer;
    }

    nav ul{
        background: #ff004f;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 60px;
        z-index: 2;
        transition: right 0.5s ease;
    }

    nav ul li{
        display: block;
        margin: 25px;
    }

    nav ul li a{
        font-size: 18px;
    }

    /* Close (X) button */
    nav ul .fa-xmark{
        position: absolute;
        top: 20px;
        left: 20px;
        font-size: 25px;
        cursor: pointer;
    }

    /* ---------- About Section ---------- */
    #about{
        padding: 40px 0;
    }

    .about-col-1,
    .about-col-2{
        flex-basis: 100%;
    }

    .about-col-1 img{
        margin-bottom: 30px;
    }

    .sub-title{
        font-size: 36px;
    }

    .about-col-2 p{
        font-size: 16px;
        line-height: 1.6;
        margin-bottom: 20px;
    }

    .tab-titles{
        margin: 20px 0;
    }

    .tab-links{
        font-size: 16px;
        margin-right: 20px;
    }

    /* ---------- Services ---------- */
    .services-list{
        grid-gap: 20px;
    }

    .services-list div{
        padding: 25px;
    }

    /* ---------- Portfolio ---------- */
    .work-list{
        grid-gap: 20px;
    }

    /* ---------- Contact ---------- */
    .contact-left,
    .contact-right{
        flex-basis: 100%;
    }

    .contact-left{
        margin-bottom: 30px;
    }

    .contact-left p{
        font-size: 16px;
    }

    form input,
    form textarea{
        font-size: 16px;
    }

    .btn{
        font-size: 16px;
    }

    /* ---------- Footer ---------- */
    .copyright{
        font-size: 14px;
        padding: 15px 10px;
    }
}
